@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  src: url(fonts/GOTHAM-LIGHT.TTF);
}
@font-face {
  font-family: "Gotham";
  font-style: italic;
  font-weight: 500;
  src: url(fonts/GOTHAM-MEDIUMITALIC.TTF);
}
@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/GOTHAM-BOLD.TTF);
}

* {
  box-sizing: border-box;
  font-family: "Gotham", "Arial", sans-serif;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a89ce1+0,6ae1ca+100 */
  background: #a89ce1; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #a89ce1 0%,
    #6ae1ca 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #a89ce1 0%,
    #6ae1ca 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #a89ce1 0%,
    #6ae1ca 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#a89ce1",
      endColorstr="#6ae1ca",
      GradientType=1
    ); /* IE6-9 */
  font-size: 21px;
}

p {
  line-height: 1.3em;
}

div.index {
  text-align: center;
  padding: 1em;
}

div.index h1,
div.index a {
  color: white;
}

div.index p {
  font-weight: 300;
}

div.index .links {
  margin-top: 6em;
}

div.index .links a {
  font-size: 1.5em;
  text-decoration: none;
  border: 5px solid white;
  font-weight: bold;
  padding: 6px;
  padding-bottom: 4px;
}

div.index .links a:first-child {
  margin-right: 300px;
}

body.parent,
body.student {
  background: white;
}

body.student header {
  background: #6ae1ca;
}

body.parent header {
  background: #a89ce1;
}

header {
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 30px;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

main {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

nav {
  position: absolute;
  width: 300px;
  padding: 30px;
}

nav li {
  list-style: none;
  margin: 15px 0;
  font-weight: bold;
}

nav li a {
  color: black;
  text-decoration: none;
  border-bottom: 0.5px solid black;
}

nav li.active a {
  color: #a89ce1;
  text-transform: uppercase;
  border-bottom: 0.5px solid #a89ce1;
}

body.student nav li.active a {
  color: #6ae1ca;
  border-color: #6ae1ca;
}

article {
  position: absolute;
  margin-left: 300px;
  padding-left: 4em;
  padding-top: 0.5em;
  padding-bottom: 3em;
  min-height: 100%;
  border-left: 1px solid white;
}

body.parent article {
  border-color: #a89ce1;
}

body.student article {
  border-color: #6ae1ca;
}

article img {
  max-width: 700px;
}

article h1 {
  color: #341648;
  text-transform: uppercase;
}

body.student article h1 {
  color: #164646;
}

article h2 {
  font-weight: 300;
  margin-bottom: 0.4em;
}

article a {
  color: black;
  text-decoration: none;
  border-bottom: 0.5px solid black;
}

article p {
  max-width: 700px;
  font-weight: 300;
}

article li {
  font-weight: 300;
  list-style: none;
}

article p.indent {
  text-indent: 2em;
}

article ul {
  max-width: 700px;
}
